.drawer {
  display: block;
  position: absolute;
  z-index: 350;
  transition: all 0.5s cubic-bezier(0.1, 0.7, 0.1, 1);
  will-change: translate;
  visibility: hidden;
  height: calc(100vh - 55px); }
  .drawer > * {
    user-select: none; }
  .drawer.is-open {
    visibility: visible; }
    .drawer.is-open .drawer__mask {
      opacity: 1;
      visibility: visible; }
    .drawer.is-open .drawer__content {
      z-index: 360;
      opacity: 1;
      visibility: visible;
      overflow: hidden; }
  .drawer--left {
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    width: 30%;
    height: 100%;
    width: var(--px-drawer-width, 30%);
    height: var(--px-drawer-height, 100%); }
    .drawer--left.is-open {
      transform: translateX(0); }
    @media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
      .drawer--left {
        width: 100%;
        width: var(--px-drawer-width, 100%); } }
    @media (min-width: 1200px) {
      .drawer--left {
        max-width: 330px;
        width: 25%;
        width: var(--px-drawer-width, 30%); } }
    @media (min-width: 767px) {
      .drawer--left {
        width: 35%;
        max-width: 330px;
        width: var(--px-drawer-width, 35%); } }
  .drawer--right {
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    height: var(--px-drawer-height, 100%);
    position: absolute !important; }
    .drawer--right.is-open {
      transform: translateX(0); }
    @media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
      .drawer--right {
        width: 100%;
        width: var(--px-drawer-width, 100%); } }
    @media (min-width: 767px) {
      .drawer--right {
        width: 35%;
        max-width: 330px;
        width: var(--px-drawer-width, 35%); } }
    @media (min-width: 1200px) {
      .drawer--right {
        max-width: 330px;
        width: 25%;
        width: var(--px-drawer-width, 30%); } }
  .drawer--top {
    top: 0;
    right: 0;
    left: 0;
    transform: translateY(-100%);
    width: var(--px-drawer-width, 100%); }
    .drawer--top.is-open {
      transform: translateY(0); }
    @media (min-width: 1200px) {
      .drawer--top {
        height: var(--px-drawer-height, 25%); } }
    @media (min-width: 321px) {
      .drawer--top {
        height: var(--px-drawer-height, 20%); } }
    @media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
      .drawer--top {
        height: var(--px-drawer-height, 20%); } }
    @media (min-width: 767px) {
      .drawer--top {
        height: var(--px-drawer-height, 35%); } }
  .drawer--bottom {
    bottom: 0;
    right: 0;
    left: 0;
    width: var(--px-drawer-width, 100%);
    width: var(--px-drawer-width, 100%);
    transform: translateY(100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    height: 50%; }
    .drawer--bottom.is-open {
      transform: translateY(0);
      z-index: 500; }
    @media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
      .drawer--bottom {
        right: 0;
        left: 0;
        width: 100%;
        height: 50%;
        height: var(--px-drawer-height, 50%); } }
    @media (min-width: 767px) {
      .drawer--bottom {
        right: 15%;
        left: 15%;
        width: auto;
        height: 50%;
        height: var(--px-drawer-height, 50%); } }
    @media (min-width: 1200px) {
      .drawer--bottom {
        width: auto;
        height: 50%;
        height: var(--px-drawer-height, 50%);
        right: 25%;
        left: 25%; } }
    .drawer--bottom--full-width {
      width: 100% !important;
      left: 0;
      right: 0; }
  .drawer--mini {
    transition: width 0.3s ease;
    position: static;
    visibility: visible;
    float: left;
    min-width: 44px;
    width: 44px;
    overflow: hidden;
    transform: translateX(0) !important;
    text-align: left; }
    .drawer--mini .viewport:parent {
      margin-left: -20px; }
    .drawer--mini.is-open {
      width: 25%; }
      @media (min-width: 1200px) {
        .drawer--mini.is-open {
          width: 25%; } }
      @media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
        .drawer--mini.is-open {
          width: 100%; } }
      @media (min-width: 767px) {
        .drawer--mini.is-open {
          width: 50%; } }
      .drawer--mini.is-open .hidden-mini-closed,
      .drawer--mini.is-open .table-row__content__title {
        width: auto; }
    .drawer--mini:not(.is-open) {
      transition: width 0.3s ease; }
      .drawer--mini:not(.is-open):before {
        content: ''; }
      .drawer--mini:not(.is-open) .hidden-mini-closed,
      .drawer--mini:not(.is-open) .table-row__content__title {
        opacity: 0; }
  .drawer--temporary {
    transition: all 0.5s cubic-bezier(0.1, 0.7, 0.1, 1);
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
  .drawer--persistent {
    transition: width 0.5s ease-in-out;
    position: static;
    visibility: visible;
    float: left;
    width: 20%;
    margin-top: -10px;
    margin-left: -25px;
    transform: translateX(0) !important; }
    @media (min-width: 1200px) {
      .drawer--persistent {
        margin-top: 0; } }
    @media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
      .drawer--persistent {
        margin-left: 0; } }
    @media (min-width: 767px) {
      .drawer--persistent {
        margin-top: 0;
        margin-left: 0; } }
    .drawer--persistent.drawer--right {
      float: right !important;
      position: static !important; }
  .drawer--fixed {
    position: fixed; }
  .drawer__content {
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    user-select: none; }
    .drawer__content--grid .grid__item {
      padding-left: 24px;
      padding-right: 24px; }
      .drawer__content--grid .grid__item:hover {
        background: rgba(0, 0, 0, 0.2); }
    .drawer__content--grid a {
      text-align: center;
      padding: 5px 12px;
      text-decoration: none;
      display: block; }
      .drawer__content--grid a i {
        height: 48px;
        width: 48px;
        font-size: 48px;
        display: block;
        margin-bottom: 6px; }

.drawer hr {
  height: 1px;
  width: 100%;
  margin: 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.01); }

.drawer--dark {
  background-color: #242326;
  background-color: var(--px-drawer-background-color, #242326);
  color: #FFFFFF; }
  .drawer--dark .drawer__button {
    color: #FFFFFF; }
