@import "variables";
@import "px-mobile-design/sass/_mixins.scss";
/// Drawer - Top modifier
///
.drawer {

  ///------------------------------------------------------
  /// .drawer--top
  @include modifier ('top') {
    top      : 0;
    right    : 0;
    left     : 0;
    transform: translateY(-100%);
    width    : var(--px-drawer-width, 100%);

    &.is-open {
      transform: translateY(0);
    }

    @include media-breakpoint-down('sm') {
      height: $drawer-height-top-small;
      height: var(--px-drawer-height, $drawer-height-top-small);
    }

    @include media-breakpoint ('md') {
      height: $drawer-height-top-medium;
      height: var(--px-drawer-height, $drawer-height-top-medium);
    }

    @include media-breakpoint ('lg') {
      height: $drawer-height-top-large;
      height: var(--px-drawer-height, $drawer-height-top-large);
    }

  }
}
