@import "variables";
@import "px-mobile-design/sass/_mixins.scss";
/// Drawer - Top modifier
///
.drawer {

  ///------------------------------------------------------
  /// .drawer--persistent
  @include modifier ('persistent') {
    transform: translate3d(0, 0, 0);
    transition  : $drawer-persistent-transition;
    position    : static;
    visibility  : visible;
    float       : left;
    min-height  : $drawer-persistent-height;
    max-width   : $drawer-max-width;
    margin-right: $drawer-mini-margin-right;
    box-shadow: none !important;
    flex: 1 0 $drawer-max-width;

    @include media-breakpoint ('lg') {
      margin-top: 0;
    }

    @include media-breakpoint-down ('sm') {}

    @include media-breakpoint-down (md) {
      transform: translate3d(-100%, 0, 0) !important;
      position: absolute;
      visibility: hidden;
      &.is-open {
        visibility: visible;
        transform: translate3d(0, 0, 0);
      }
    }

    &.drawer--right {
      float   : right ;
      position: static ;
      margin-right: 0 !important;
    }
  }

}
